<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
</head>
<body>
<div class="container-fluid">
  <br>
    <nav class="navbar navbar-custom">
        <ul class="nav navbar-nav">
             <li><a href="{% url 'home' %}">HOME</a></li>
            {% if user.is_authenticated %}

            <li><a href="{% url 'upload' %}">ADD BOOKS</a></li>
             <li><a href="{% url 'list' %}">VIEW BOOKS</a></li>
             <li><a href="{% url 'search' %}">SEARCH BOOKS</a></li>

            <li><a href="{% url 'logout1' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">SIGNUP</a></li>

            <li><a href="{% url 'login1' %}">LOGIN</a></li>
            {% endif %}
        </ul>

    </nav>
    {% block body_block %}
    {% endblock %}

</div>

</body>
</html>